html, body {
    padding: 0;
    margin: 0;
    font-size: 14px;
}
#root {
    width: 100vw;
    height: 100vh;
    background: url(../assets/blurred_720.png);
    background-attachment: fixed; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

#root > .header > .title {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 10px 10px;
    padding: 10px;
    font-size: 4em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;;
}

.languages-wrapper {
    width: 60%;
    height: 30%;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    padding: 10px;
    font-size: 8em;
}

.language > a > span {
    transition: 0.2s;
    cursor: pointer;
    filter: brightness(0.8);
}

.language > a > span:hover {
    transform: scale(1.1);
    filter: brightness(1.0);
}